<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.soylash">

    <application
        android:usesCleartextTraffic="true"
        android:name=".SoyLashApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Главная активность -->
        <activity
            android:name=".View.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Активность изучения слов -->
        <activity
        android:name=".View.WordLearningActivity"
        android:label="Изучение слов"
        android:exported="false"
        android:theme="@style/AppTheme.NoActionBar"/>

        <!-- Активность избранного -->
        <activity
            android:name=".View.FavoritesActivity"
            android:exported="false"
            android:label="@string/title_favorites"
            android:parentActivityName=".View.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainActivity" />
        </activity>

        <!-- Активность переводчика -->
        <activity
            android:name=".View.TranslaterActivity"
            android:exported="false"
            android:label="@string/title_translater"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".View.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainActivity" />
        </activity>

        <activity
            android:name=".View.SearchActivity"
            android:label="Поиск слов"
            android:parentActivityName=".View.MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainActivity" />
        </activity>

        <!-- Активность угадай перевод -->
        <activity
            android:name=".View.GuessTranslationActivity"
            android:exported="false"
            android:label="@string/title_guess_translation"
            android:parentActivityName=".View.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainActivity" />
        </activity>

        <!-- Активность аудирования -->
        <activity
            android:name=".View.ListeningActivity"
            android:exported="false"
            android:label="@string/title_listening"
            android:parentActivityName=".View.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainActivity" />
        </activity>

        <!-- Активность логина -->
        <activity
            android:name=".View.LoginActivity"
            android:exported="true"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Активность регистрации -->
        <activity
            android:name=".View.RegisterActivity"
            android:exported="true"
            android:label="Register"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Активность вебвью -->
        <activity android:name=".View.WebViewActivity" />

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

    <!-- Разрешения -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>